* {
    box-sizing: border-box
}

body {
    background-image: url(../images/farmbackground.jpg);
    margin: 0px;
}

h1 {
    margin: 20px;
    font-family: Righteous, serif;
    font-size: 50px;
    text-align: center;
    color: black;
}

h2 {
    margin: 10px;
    font-family: Righteous, serif;
    font-size: 25px;
    text-align: center;
    color: black;
}

.parent::after {
    height: 100%;
    width: 50%;
    float: right;
    border: 1px solid white;
    background: white;
    margin-right: 25px;
    opacity: 0.5;
}

.start{
    padding:0;		
}
  
.startBtn{
    width: 500px;
}

.trivSection{ 
    margin-top: 100px;
    text-align: center;
}

.question, .answers{
    font-family: Righteous, sans-serif;
    padding: 30px;
    font-size: 15px;
    margin: 10px;
}

.rightAnswer, .wrongAnswer, .gameOver, .score{
    font-family: Righteous, sans-serif;
    padding: 30px;
    font-size: 25px;
    margin: 10px;
}
  
/*buttons*/
.redBtn { 
    color: #FFFFFF; 
    background-color: blueviolet; 
    border-color: #000000; 
} 

  .redBtn:hover, 
  .redBtn:focus, 
  .redBtn:active, 
  .redBtn.active, 
  .open .dropdown-toggle.redBtn { 
    color: #FFFFFF; 
    background-color: blueviolet; 
    border-color: #000000; 
  } 
   
  .redBtn:active, 
  .redBtn.active, 
  .open .dropdown-toggle.redBtn { 
    background-image: none; 
  } 
   
  .redBtn.disabled, 
  .redBtn[disabled], 
  fieldset[disabled] .redBtn, 
  .redBtn.disabled:hover, 
  .redBtn[disabled]:hover, 
  fieldset[disabled] .redBtn:hover, 
  .redBtn.disabled:focus, 
  .redBtn[disabled]:focus, 
  fieldset[disabled] .redBtn:focus, 
  .redBtn.disabled:active, 
  .redBtn[disabled]:active, 
  fieldset[disabled] .redBtn:active, 
  .redBtn.disabled.active, 
  .redBtn[disabled].active, 
  fieldset[disabled] .redBtn.active { 
    background-color: blueviolet; 
    border-color: #000000; 
  } 
   
  .redBtn .badge { 
    color: blueviolet; 
    background-color: #FFFFFF; 
  }

  img{
      width: 25%;
      height: 25%;
  }


